.spell-card{
    display: inline-grid;
    margin: 2px;
    padding: 2px 3px 0px 3px;
    border: 2px solid black;
    color: #000;
    background-color: rgb(208, 209, 209);
    border-radius: 1.5em;
    min-height: 3em;
    min-width: 14em;
    max-width: 14em;
}

.material-desc {
    display: inline-block;
    min-height: min-content;
    margin-block-start: auto;
    margin-block-end: auto;
}

.spell-higher {
    display: inline-block;
    min-height: min-content;
    margin-block-start: auto;
    margin-block-end: auto;
}

.main-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.spell-component {
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 0 0.5em;
}

.material-tag {
    background-color: #FB5012;
    padding: 0em 0.5em;
    border-radius: 2rem;
}

.somatic-tag {
    background-color: #ae9cd0;
    padding: 0em 0.5em;
    border-radius: 2rem;
}

.verbal-tag {
    background-color: #04dca3;
    padding: 0em 0.5em;
    border-radius: 2rem;
}