.spell-card{
    display: inline-grid;
    margin: 2px;
    padding: 2px 3px 0px 3px;
    border: 2px solid black;
    border-radius: 1em;
    min-height: 3em;
    min-width: 2em;
    max-width: 15em;
}