<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>
<body>
    <p>Helloworld</p>
    <% if (locals.spells) { %>
        <% for (const spell of spells) { %>
            <div class="spell-card">
                <p class="spell-name"><%= spell.name %></p>
                <p class="casting-time">Casting Time: <%= spell.casting_time %></p>
                <p class="spell-description"><%= spell.description %></p>
                <ul>
                    <% for (const user of spell.users){ %>
                        <li><%= user %></li>
                    <% } %>
                </ul>
            </div>
        <% } %>
    <% } %></br>
</body>
</html>